{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!{% endblock %}

{% block body %}

<h3>{{ actor.name }}</h3>

<ul>
{% for program in actor.programs %}
    <li>
        <a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
